<form action='/cart' method="POST">
    <button class="btn" type="submit">Add To Cart</button>
    <!-- 'hidden' does not display the input -->
    <input type="hidden" name="id" value="<%= product.id %>">
</form>